.form {
    .name {
      height: 65px;
      label {
        margin-right: 123px;
      }
      p {
        color: red;
      }
    }
    .amount {
      height: 65px;
      label {
        margin-right: 80px;
      }
      p {
        color: red;
      }
    }
}
  