.form {
    .name {
      height: 65px;
      label {
        margin-right: 100px;
      }
      p {
        color: red;
      }
    }
    .email {
      height: 65px;
      label {
        margin-right: 88px;
      }
      p {
        color: red;
      }
    }
    .phone_number {
      height: 65px;
      label {
        margin-right: 102px;
      }
      p {
        color: red;
      }
    }
}
  