.form {
    .input_name {
      height: 65px;
      label {
        margin-right: 200px;
      }
      p {
        color: red;
      }
    }
    .input_email {
      height: 65px;
      label {
        margin-right: 185px;
      }
      p {
        color: red;
      }
    }
    .input_phone_number {
      height: 65px;
      label {
        margin-right: 115px;
      }
      p {
        color: red;
      }
    }
    .input_type {
      height: 65px;
      label {
        margin-right: 190px;
      }
      p {
        color: red;
      }
    }
    .input_account_name {
      height: 65px;
      label {
        margin-right: 120px;
      }
      p {
        color: red;
      }
    }
    .input_password {
      height: 65px;
      label {
        margin-right: 160px;
      }
      p {
        color: red;
      }
    }
  }
  