.form {
    .date_book {
      height: 65px;
      label {
        margin-right: 200px;
      }
      p {
        color: red;
      }
    }
    .time_start {
      height: 65px;
      label {
        margin-right: 170px;
      }
      p {
        color: red;
      }
    }
    .time_end {
      height: 65px;
      label {
        margin-right: 167px;
      }
      p {
        color: red;
      }
    }
    .referee {
      height: 65px;
      label {
        margin-right: 240px;
      }
      p {
        color: red;
      }
    }
    .total_price {
      height: 65px;
      label {
        margin-right: 220px;
      }
      p {
        color: red;
      }
    }
    .account_id {
      height: 65px;
      label {
        margin-right: 215px;
      }
      p {
        color: red;
      }
    }
    .field_id {
        height: 65px;
      label {
        margin-right: 240px;
      }
      p {
        color: red;
      }
    }
  }
  